<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="wrapper">
    <header>
    </header>

    <section class="left-menu-group">
        <nav class="left-nav">
            <ul th:each="board :${boards}">
                <li th:text="${board.title}"></li>
            </ul>
        </nav>

    </section>

    <section class="main-content">
    </section>
</div>
</body>
</html>